
body{
    margin: 0;
    padding: 0;
}
.container{
    margin-top:10px;
    margin-bottom:10px;
}
h1{
    color: #00bfff;
    text-align: center;
    padding: 3px;
    border-bottom: solid 1px black;
    font-weight: bold;
}
#btn{
    display: block;
    margin: auto;
    background-color: #00bfff;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    font-weight: bold;
    font-size:20px
}
#btn:hover{
    background-color: tomato;
}
a{
    display: block;
    margin: auto;
    text-align: center;
    font-size:15px;
    font-weight: bold;
}
a:hover{
    color: tomato;
    border:none
}
#img{
    width: 50px;
    height: 50px;
   }
   .header{
       display: inline;
   }
.social-icons{
    text-align: center;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #00bfff;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    
  }
  /* .social-icons .social-icon:last-child {
    margin-right: 0;
  } */
  .social-icons .social-icon:hover {
    background-color: tomato;
  }